html
    head
        link(rel="stylesheet", href="../styles/styles.css", data-inline)
    body
        p Hi admin,
        p You have received a contact form submission. Here are the details:
        p User's Full name: #{fullName}
        p User's Email: #{email}
        p Message:
        p #{message}
        br
        p Thanks,
        p TopProp Team


