html
    head
        link(rel="stylesheet", href="../styles/styles.css", data-inline)
    body
        p Hi #{user.fullName},
        p Your #{side} verification file has been received and is now under review! We will let you know once the status on this has changed.
        br
        p Thanks,
        p TopProp Team
