html
    head
        link(rel="stylesheet", href="../styles/styles.css", data-inline)
    body
        p Hi #{user.fullName},
        p Your withdraw request was denied please reach out to us for more details.
        p Do not worry, your funds are still in your account.
        br
        p Thanks,
        p TopProp Team
