html
    head
        link(rel="stylesheet", href="../styles/styles.css", data-inline)
    body
        p Hi #{favoriteUser.fullName},
        p
        p The contest was a draw.
        br
        p Thanks,
        p TopProp Team
