| Hi admin,
|
| There were some errors importing your data:
|
| Details:
| Date & time: #{importedDateAndTime}
| Target: #{targetResources}
| Errors:
|
each error in errors
    | * #{error}
    |
|
| Please double-check the file uploaded and try again.
|
| Thanks,
| TopProp Team
