html
    head
        link(rel="stylesheet", href="../styles/styles.css", data-inline)
    body
        p Hi #{user.fullName},
        p Welcome to TopProp.
        if socialLogin
            p Continue exploring the web app and don't forget to add some funds!
        else
            p Continue exploring the web app and don't forget to add some funds!
        br
        p Thanks,
        p TopProp Team

