.u-row-container(style='padding: 0px;background-color: #b69056')
    .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 700px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
        div(style='border-collapse: collapse;display: table;width: 100%;background-color: transparent;')
            // [if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding: 0px;background-color: #b69056;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:700px;"><tr style="background-color: transparent;"><![endif]
            // [if (mso)|(IE)]><td align="center" width="700" style="width: 700px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top"><![endif]
            .u-col.u-col-100(style='max-width: 320px;min-width: 700px;display: table-cell;vertical-align: top;')
                div(style='width: 100% !important;')
                    // [if (!mso)&(!IE)]><!
                    div(style='padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;')
                        // <![endif]
                        table(style='font-family:georgia,palatino;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                            tbody
                                tr
                                    td(style='overflow-wrap:break-word;word-break:break-word;padding:50px 10px;font-family:georgia,palatino;' align='left')
                                        h1(style='margin: 0px; color: #000000; line-height: 140%; text-align: center; word-wrap: break-word; font-weight: normal; font-family: arial,helvetica,sans-serif; font-size: 22px;')
                                            | TopProp - Verification Update
                        // [if (!mso)&(!IE)]><!
                    // <![endif]
            // [if (mso)|(IE)]></td><![endif]
            // [if (mso)|(IE)]></tr></table></td></tr></table><![endif]
