html
    head
        link(rel="stylesheet", href="../styles/styles.css", data-inline)
    body
        p Hi admin,
        p A sync has failed.
        p
        p
        p
        p
        br
        p Thanks,
        p TopProp Team


