| Hi #{user.fullName},
|
if plural
    |
    | Your verification files have been successfully verified.
    |
else
    |
    | Your #{side} verification file has been successfully verified.
    |
|
| Thanks,
| TopProp Team
