

| Hi #{creatorUser.fullName},
|
| Your contest has been claimed by #{claimerUser.fullName} on #{moment(leagueContestData.updatedAt).format("dddd, MMMM Do YYYY, h:mm:ss a")}.
|
|
| Thanks,
| TopProp Team
