html
    head
        link(rel="stylesheet", href="../styles/styles.css", data-inline)
    body
        p Hi #{user.fullName},
        p You have successfully set a new password.
        br
        p Thanks,
        p TopProp Team
