html
    head
        link(rel="stylesheet", href="../styles/styles.css", data-inline)
    body
        p Hi #{user.fullName},
        p Your funds are almost ready and they should be in your bank account soon.
        br
        p Thanks,
        p TopProp Team
