html
    head
        link(rel="stylesheet", href="../styles/styles.css", data-inline)
    body
        p Hi #{user.fullName},
        p Please follow the next link to set a new password.
        p #{link}
        br
        p Thanks,
        p TopProp Team
