.u-row-container(style='padding: 20px 0px 30px;background-color: #f6f6f6')
    .u-row(style='Margin: 0 auto;min-width: 320px;max-width: 400px;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;background-color: transparent;')
        div(style='border-collapse: collapse;display: table;width: 100%;background-color: transparent;')
            // [if (mso)|(IE)]><table width="100%" cellpadding="0" cellspacing="0" border="0"><tr><td style="padding: 20px 0px 30px;background-color: #f6f6f6;" align="center"><table cellpadding="0" cellspacing="0" border="0" style="width:400px;"><tr style="background-color: transparent;"><![endif]
            // [if (mso)|(IE)]><td align="center" width="260" style="width: 260px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top"><![endif]
            .u-col.u-col-64p89(style='max-width: 320px;min-width: 260px;display: table-cell;vertical-align: top;')
                div(style='width: 100% !important;')
                    // [if (!mso)&(!IE)]><!
                    div(style='padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;')
                        // <![endif]
                        table(style='font-family:georgia,palatino;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                            tbody
                                tr
                                    td(style='overflow-wrap:break-word;word-break:break-word;padding:10px 0px 10px 10px;font-family:georgia,palatino;' align='left')
                                        div(align='left')
                                            div(style='display: table; max-width:209px;')
                                                // [if (mso)|(IE)]><table width="209" cellpadding="0" cellspacing="0" border="0"><tr><td style="border-collapse:collapse;" align="left"><table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse; mso-table-lspace: 0pt;mso-table-rspace: 0pt; width:209px;"><tr><![endif]
                                                // [if (mso)|(IE)]><td width="32" style="width:32px; padding-right: 10px;" valign="top"><![endif]
                                                table(align='left' border='0' cellspacing='0' cellpadding='0' width='32' height='32' style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;margin-right: 10px')
                                                    tbody
                                                        tr(style='vertical-align: top')
                                                            td(align='left' valign='middle' style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                                                a(href='https://twitter.com/' title='Twitter' target='_blank')
                                                                    img(src='images/image-15.png' alt='Twitter' title='Twitter' width='32' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important')
                                                // [if (mso)|(IE)]></td><![endif]
                                                // [if (mso)|(IE)]><td width="32" style="width:32px; padding-right: 10px;" valign="top"><![endif]
                                                table(align='left' border='0' cellspacing='0' cellpadding='0' width='32' height='32' style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;margin-right: 10px')
                                                    tbody
                                                        tr(style='vertical-align: top')
                                                            td(align='left' valign='middle' style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                                                a(href='https://instagram.com/' title='Instagram' target='_blank')
                                                                    img(src='images/image-11.png' alt='Instagram' title='Instagram' width='32' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important')
                                                // [if (mso)|(IE)]></td><![endif]
                                                // [if (mso)|(IE)]><td width="32" style="width:32px; padding-right: 10px;" valign="top"><![endif]
                                                table(align='left' border='0' cellspacing='0' cellpadding='0' width='32' height='32' style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;margin-right: 10px')
                                                    tbody
                                                        tr(style='vertical-align: top')
                                                            td(align='left' valign='middle' style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                                                a(href='https://youtube.com/' title='YouTube' target='_blank')
                                                                    img(src='images/image-13.png' alt='YouTube' title='YouTube' width='32' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important')
                                                // [if (mso)|(IE)]></td><![endif]
                                                // [if (mso)|(IE)]><td width="32" style="width:32px; padding-right: 10px;" valign="top"><![endif]
                                                table(align='left' border='0' cellspacing='0' cellpadding='0' width='32' height='32' style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;margin-right: 10px')
                                                    tbody
                                                        tr(style='vertical-align: top')
                                                            td(align='left' valign='middle' style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                                                a(href='https://linkedin.com/' title='LinkedIn' target='_blank')
                                                                    img(src='images/image-14.png' alt='LinkedIn' title='LinkedIn' width='32' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important')
                                                // [if (mso)|(IE)]></td><![endif]
                                                // [if (mso)|(IE)]><td width="32" style="width:32px; padding-right: 0px;" valign="top"><![endif]
                                                table(align='left' border='0' cellspacing='0' cellpadding='0' width='32' height='32' style='border-collapse: collapse;table-layout: fixed;border-spacing: 0;mso-table-lspace: 0pt;mso-table-rspace: 0pt;vertical-align: top;margin-right: 0px')
                                                    tbody
                                                        tr(style='vertical-align: top')
                                                            td(align='left' valign='middle' style='word-break: break-word;border-collapse: collapse !important;vertical-align: top')
                                                                a(href='https://www.facebook.com/TopPropSports/' title='Facebook' target='_blank')
                                                                    img(src='images/image-12.png' alt='Facebook' title='Facebook' width='32' style='outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;clear: both;display: block !important;border: none;height: auto;float: none;max-width: 32px !important')
                                                // [if (mso)|(IE)]></td><![endif]
                                                // [if (mso)|(IE)]></tr></table></td></tr></table><![endif]
                        // [if (!mso)&(!IE)]><!
                    // <![endif]
            // [if (mso)|(IE)]></td><![endif]
            // [if (mso)|(IE)]><td align="center" width="140" style="width: 140px;padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;" valign="top"><![endif]
            .u-col.u-col-35p11(style='max-width: 320px;min-width: 140px;display: table-cell;vertical-align: top;')
                div(style='width: 100% !important;')
                    // [if (!mso)&(!IE)]><!
                    div(style='padding: 0px;border-top: 0px solid transparent;border-left: 0px solid transparent;border-right: 0px solid transparent;border-bottom: 0px solid transparent;')
                        // <![endif]
                        table(style='font-family:georgia,palatino;' role='presentation' cellpadding='0' cellspacing='0' width='100%' border='0')
                            tbody
                                tr
                                    td(style='overflow-wrap:break-word;word-break:break-word;padding:17px 0px 10px;font-family:georgia,palatino;' align='left')
                                        div(style='line-height: 130%; text-align: left; word-wrap: break-word;')
                                            p(style='font-size: 14px; line-height: 130%; text-align: center;')
                                                span(style="font-size: 14px; line-height: 18.2px; font-family: 'Noto Sans', Montserrat, sans-serif;") Address, City, State.
                        // [if (!mso)&(!IE)]><!
                    // <![endif]
            // [if (mso)|(IE)]></td><![endif]
            // [if (mso)|(IE)]></tr></table></td></tr></table><![endif]
// [if (mso)|(IE)]></td></tr></table><![endif]
// [if mso]></div><![endif]
// [if IE]></div><![endif]
