table.es-content(cellpadding='0' cellspacing='0' align='center' style='mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%')
    tr
        td(align='center' style='padding:0;Margin:0')
            table.es-content-body-footer(bgcolor='#ffffff' align='center' cellpadding='0' cellspacing='0' style='mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:transparent;width:600px')
                tr
                    td(align='left' style='padding:0;Margin:0')
                        table(cellpadding='0' cellspacing='0' width='100%' style='mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px')
                            tr
                                td(align='center' valign='top' style='padding:0;Margin:0;width:600px')
                                    table(cellpadding='0' cellspacing='0' width='100%' role='presentation' style='mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px')
                                        tr
                                            td(align='center' style='padding:20px;Margin:0;font-size:0px')
                                                table(border='0' width='100%' height='100%' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px')
                                                    tr
                                                        td(style='padding:0;Margin:0;border-bottom:1px solid #cccccc;background:none;height:1px;width:100%;margin:0px')
                tr
                    td(align='left' style='padding:0;Margin:0;padding-top:20px')
                        //if mso
                            table(style='width:600px' cellpadding='0' cellspacing='0')
                                tr
                                    td(style='width:350px' valign='top')
                        table(cellpadding='0' cellspacing='0' align='center' style='mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;')
                            tr
                                td.es-m-p0r-footer(align='center' style='padding:0;Margin:0;width:350px')
                                    table.es-table-not-adapt-footer.es-social-footer(cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px')
                                        tr
                                            td(align='center' valign='top' style='padding:0;Margin:0;padding-right:10px')
                                                a(target='_blank' href='https://www.facebook.com/TopPropSports/')
                                                    img(title='Facebook' src='https://topprop-email-artifacts.s3.us-east-2.amazonaws.com/facebook-logo-black.png' alt='Fb' width='32' height='32' style='display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic')
                                            td(align='center' valign='top' style='padding:0;Margin:0;padding-right:10px')
                                                a(target='_blank' href='https://twitter.com/toppropfantasy')
                                                    img(title='Twitter' src='https://topprop-email-artifacts.s3.us-east-2.amazonaws.com/twitter-logo-black.png' alt='Tw' width='32' height='32' style='display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic')
                                            td(align='center' valign='top' style='padding:0;Margin:0;padding-right:10px')
                                                a(target='_blank' href='https://www.instagram.com/toppropfantasy/')
                                                    img(title='Instagram' src='https://topprop-email-artifacts.s3.us-east-2.amazonaws.com/instagram-logo-black.png' alt='Inst' width='32' height='32' style='display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic')
                                    table(width="100%")
                                        tr
                                            td.es-m-txt-c-footer(align='center' style='padding:5px;Margin:0;font-size:12px')
                                                | &copy; TopProp 2021. All Rights Reserved.
                                        tr
                                            td.es-m-txt-c-footer(align='center' style='padding:5px;Margin:0;')
                                                a(href="https://www.toppropsports.com/privacy-policy", style="color:#b69056;font-size:12px!important") Privacy Policy
                        table(border='0' width='100%' height='100%' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px')
                            tr
                                td(style='padding:0;Margin:0;border-bottom:1px solid #cccccc;background:none;height:1px;width:100%;margin:0px')
                        div(style='padding:8px;font-size:10px;color:#ccc;text-align:center;')
                            | All users must be over the age of 18 (or 21 in Massachusetts, 19 in Alabama). TopProp is not available for paid contest play in all U.S. states due either to state regulations or pending applications. If your state is not yet available, follow us on social media for updates.
