| Hi #{user.fullName},
|
if plural
    |
    | Your verification files could not be verified.
    |
else
    |
    | Your #{side} verification file could not be verified.
    |
if details
    |
    | Here are some details:
    |#{details}
    |
|
| Please try submitting correct information through the "Withdraw" page.
|
| Thanks,
| TopProp Team
