html
    head
        link(rel="stylesheet", href="../styles/styles.css", data-inline)
    body
        p Hi #{underdogUser.fullName},
        p
        p Your contest was a draw.
        br
        p Thanks,
        p TopProp Team
