| Hi #{user.fullName},
|
| We had some troubles completing your withdraw.
|
if details
    |
    | Details:
    |#{details}
    |
|
| We recommend you to double-check your bank account information (or add a new one) and try again.
|
| Thanks,
| TopProp Team
